ChaosBlaster/.vs
ChaosBlaster/Binaries
ChaosBlaster/DerivedDataCache
ChaosBlaster/Intermediate
ChaosBlaster/Saved
ChaosBlaster/Build
ChaosBlaster/ChaosBlaster.sln
ChaosBlaster/Plugins/MultiplayerSession/Binaries
ChaosBlaster/Plugins/MultiplayerSession/Intermediate